- let author = config.author
- let launch_time = theme.footer.runtime.launch_time
- let since = theme.footer.owner.since
- let version = get_version("tags")
script.
  // 消除控制台打印
  var HoldLog = console.log;
  console.log = function () {};
  queueMicrotask(() => {
    const Log = function () {
      HoldLog.apply(console, arguments);
    }; //在恢复前输出日志
    const ascll2 = [`NCC2-036`, `调用前置摄像头拍照成功，识别为【小笨蛋】.`, `Photo captured: `, `🤪`];

    setTimeout(
      Log.bind(
        console,
        `%c ${ascll2[0]} %c ${ascll2[1]} %c \n${ascll2[2]} %c\n${ascll2[3]}\n`,
        "color:white; background-color:#4fd953",
        "",
        "",
        'background:url("https://npm.elemecdn.com/anzhiyu-blog@1.1.6/img/post/common/tinggge.gif") no-repeat;font-size:450%'
      )
    );

    setTimeout(Log.bind(console, "%c WELCOME %c 你好，小笨蛋.", "color:white; background-color:#4f90d9", ""));

    setTimeout(
      console.warn.bind(
        console,
        "你正在访问 #{author} 的博客."
      )
    );

    setTimeout(Log.bind(console, "%c W23-12 %c 你已打开控制台.", "color:white; background-color:#4f90d9", ""));

  });